// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ghost-angular-primary: mat-palette($mat-indigo);
$ghost-angular-accent: mat-palette($mat-pink, A200, A100, A400);
$ghost-angular-background: var(--background-color);
$ghost-angular-background-overlay: var(--background-color-overlay);

// The warn palette is optional (defaults to red).
$ghost-angular-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ghost-angular-theme: mat-light-theme(
  (
    color: (
      primary: $ghost-angular-primary,
      accent: $ghost-angular-accent,
      warn: $ghost-angular-warn,
      background: $ghost-angular-background,
      background-overlay: $ghost-angular-background-overlay,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($ghost-angular-theme);

// Define a custom typography config that overrides the font-family
$custom-typography: mat-typography-config(
  $font-family: '"Poppins", sans-serif',
  $headline: mat-typography-level(2.4rem, 48px, 600),
  $title: mat-typography-level(2rem, 40px, 300),
  $body-1: mat-typography-level(1.6rem, 24px, 400),
);

@include mat-base-typography($custom-typography);

:root {
  --color-light: #f5f5fa;
  --color-light-1: #e3e3e3;
  --color-light-2: #f6f6fa;
  --color-black: #1b1d2a;
  --color-grey: #e1e1e2;
  --color-grey-1: #bababa;
  --color-light-blue: #dee3fc;
  --default-shadow: rgba(138, 138, 138, 0.1);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  box-sizing: inherit;
  position: relative;
  background-color: var(--color-light);
  padding: 50px;
}
.main {
  background: #707070;
  box-shadow: 0 15px 10px var(--default-shadow);
  height: calc(100vh - 100px);
  border-radius: 30px;
  display: grid;
  grid-template-columns:
    [layout-start] minmax(120px, 1fr) [center-start] repeat(
      12,
      minmax(min-content, 95px)
    )
    [center-end] minmax(120px, 1fr) [layout-end];
  grid-template-rows: 120px 1fr;
  grid-row-gap: 50px;
  overflow: hidden;
  overflow-y: scroll;
}

.header {
  grid-row: 1 / 2;
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: 150px 1fr 200px;
  align-items: center;
}

.icon {
  width: 20px;
  height: 20px;
}

.questionnaire {
  grid-row: 2 / -1;
  grid-column: center-start / center-end;
  display: flex;
  flex-direction: column;

  .question {
    display: grid;
    grid-template-rows: repeat(3, min-content);
    grid-row-gap: 20px;

    &__heading {
      font-size: 40px;
      justify-self: center;
    }
    &__q {
      justify-self: center;
    }

    &__answers {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

      .answer {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 15px;
        background-color: #506ef9;;
        border: 2px solid var(--color-light-1);
        color: var(--color-black);
        height: 250px;
        cursor: pointer;
        border-radius: 15px;
        transition: all 0.3s;
      }

      .answer.selected {
        background-color: var(--color-light-blue);
        color: #fff;
      }
    }
  }
  .actions {
    display: flex;
    justify-content: center;
    margin: 10px 0;

    button.previous {
      background: #fff;
      padding: 5px 8px;
      outline: none;
      border-radius: 10px;
      border: 1px solid var(--color-light-1);
      cursor: pointer;

      .icon-back {
        width: 30px;
        height: 30px;
        fill: var(--color-light-blue);
      }
    }

    button.next {
      margin-left: 15px;
      background: var(--color-light-blue);
      color: #fff;
      padding: 5px 90px;
      outline: none;
      border-radius: 10px;
      border: 0;
      cursor: pointer;
    }
  }
}

.progress {
  &__bar {
    margin: 40px 0;
    height: 20px;
    background: var(--color-light-2);
    overflow: hidden;
    border-radius: 10px;
    width: 400px;
    align-self: center;

    &--slider {
      height: inherit;
      width: 0%;
      background: var(--color-light-blue);
      border-radius: 10px;
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    width: 400px;
    align-self: center;
    color: var(--color-grey-1);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;

    .p-actions-left {
      span:nth-child(2) {
        margin: 0 5px;
      }
    }
  }
}

.logo {
  grid-column: 1 / 2;
  h2 {
    text-transform: uppercase;
    font-size: 18px;
  }
}

.search {
  grid-column: 3 / -1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .search-icon {
    background-color: #fff;
    border: 0;
    outline: 0;

    .icon {
      border: 2px solid var(--color-grey);
      border-radius: 50%;
      padding: 5px;
    }
  }

  .call {
    background: #fff;
    outline: 0;
    padding: 6px 12px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    border: 2px solid var(--color-grey);
    border-radius: 20px;
  }
}

.menu {
  grid-column: 2 / 3;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, min-content));
  justify-content: center;

  &__link,
  &__linl:link,
  &__link:active {
    text-transform: uppercase;
    font-size: 15px;
    padding-top: 5px;
  }

  &__link.active {
    border-top: 2px solid var(--color-light-blue);
    font-weight: 600;
  }
}